/* 
 *	 structural elements
 */
.KBPUBV2
{
	margin: 0px 4px 4px 8px; display:inline-block;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;	FONT-SIZE: 100%; 
}

.kbRightCol, .kbRightNav   { width:165px; float:right; position:static; padding: 0px 8px 0px 16px; margin: 8px 8px 0px 12px; font-size:100%; }
.kbRightCol A, .kbRightNav A { font-weight: normal; }
.kbRightCol A:visited, .kbRightNav A:visited { color: Purple; }

.KBTT .dec, .KBPUBV2 .dec { list-style-type: decimal; }
.KBTT .alpha, .KBPUBV2 .alpha { list-style-type: lower-alpha; }
.KBTT UL, .KBPUBV2 UL { list-style-type:disc }
.KBTT LI, .KBPUBV2 LI { margin-left: -0.5em; }

.KBTT OL LI, .KBPUBV2 OL LI { line-height: 120%; margin-bottom: 1px;  margin-left: -0.2em; }
.KBTT UL LI, .KBPUBV2 UL LI { line-height: 120%; margin-bottom: 1px;  margin-left: -0.5em; }
.KBTT UL UL, .KBPUBV2 UL UL { font-size: 100%; list-style-type:square; }
.KBTT UL UL LI, .KBPUBV2 UL UL LI { font-size: 100%; }
.KBTT UL UL UL, .KBPUBV2 UL UL UL { font-size: 100%; list-style-type:circle; }
.KBTT UL UL UL UL, .KBPUBV2 UL UL UL UL { font-size: 100%; list-style-type:square; }

.appliesto {font-weight:bold; border-top: solid 1px #cccccc; padding-top: 1em; padding-left: 5px;  margin-top: 2em; }
.appliesto H3 { font-family:Verdana, Helvetica; font-size:110%; }
.appliesto P { font-weight: normal; }
.appliesto UL { font-weight:normal; margin-top: 0.5em;}
.appliesto UL UL { font-size: 100%; margin-top: 0em; margin-bottom: 0.5em; }
.appliesto UL LI { margin-top: 0em; margin-bottom: 0em; }
.notice {	margin-bottom: 0em; margin-top: 1.4em; padding-top: 4px; font-size: inherit; }

.KBTT .indent, .KBPUBV2 .indent {	margin-top: 1em; margin-bottom: 1em; margin-left: 2em; }

.copyright {}
.disclaimer { padding:5px 20px 5px 10px; }

.TableData TABLE { margin-top: 1em; margin-bottom: 1em; width: 95%; }
.TableData TH
{
	background-color: #cccccc; text-align: center; 
	padding: 4px;  border: white 1px solid; font-size: 100%;
}
.TableData TR { }
.TableData TD
{
	background-color: #f4f4fC;
	padding: 4px; border: white 1px solid;
	font-size: 100%;
}

.TABLE.docinfo	{	WIDTH: 95%;	border: none;	}
.TABLE.docinfo TD	{	BORDER:	none;	}


.KBPUBV2 IMG.graphic { border-style:none; border-width:0 }

.KBPUBV2 .E { margin-top: 0.5em; margin-bottom: 0.3em; display:block; }
.KBPUBV2 KBD { font-weight: bold; }	/* USERINPUT */
.KBPUBV2 .weboutput {  }
.KBPUBV2 .weboutput table object { position: static; }

.KBPUBV2 .URLLink:hover, .KBPUBV2 .kblink:hover, .KBPUBV2 .UNCLink:hover { CURSOR: hand; COLOR: #ff9900 }
.KBPUBV2 .URLLink:link, .KBPUBV2 .kblink:link, .KBPUBV2 .UNCLink:link {COLOR: #0000ff}
.KBPUBV2 .URLLink:visited, .KBPUBV2 .kblink:visited, .KBPUBV2 .UNCLink:visited {COLOR: #800080}
.KBPUBV2 .URLLink:active, .KBPUBV2 .kblink:active, .KBPUBV2 .UNCLink:active {COLOR: red}

.errormsg
{
	margin-top: 12px; margin-bottom: 12px; margin-left: 24px;
	COLOR: red;	display:block; font-weight: normal;
}
.message
{
	margin-top: 12px; margin-bottom: 12px; margin-left: 24px;
}

PRE 
{
	PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; PADDING-TOP: 0.5em; PADDING-BOTTOM: 0.5em;
	MARGIN-LEFT: 24px; MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em;
	COLOR: black; BACKGROUND-COLOR: #eeeeee; width: 100%;
	FONT-FAMILY: "Courier New", courier, monospace;
}
PRE.in_text { COLOR: black; FONT-FAMILY: "Courier New", courier, monospace; }

H1 { FONT-WEIGHT: bold; FONT-SIZE: 170%; MARGIN-TOP: 6px; MARGIN-LEFT: 0px; TEXT-DECORATION: none  } 
H3 { FONT-WEIGHT: bold; FONT-SIZE: 105%; margin-bottom: 12px; MARGIN-LEFT: 0px; TEXT-DECORATION: none;} 
H4 { FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-LEFT: 0px; TEXT-DECORATION: none }
H5 { FONT-WEIGHT: bold; FONT-SIZE: 95%; MARGIN-LEFT: 0px; TEXT-DECORATION: none }
H2
{  
	font-variant: small-caps;  FONT-WEIGHT: bold; FONT-SIZE: 110%; 
	font-family: Verdana, Helvetica; COLOR: #CC6600;
	margin: 8px 12px 6px -12px; padding-top: 8px;
}

.disclaimer {	font-size: 95%; font-weight: 100; }

.NOTICE {padding-left: 12px; padding-right: 24px; }
.SUMMARY {padding-left: 12px; padding-right: 24px; }
.MOREINFORMATION {padding-left: 12px; padding-right: 24px; }
.SYMPTOMS {padding-left: 12px; padding-right: 24px; }
.CAUSE {padding-left: 12px; padding-right: 24px; }
.RESOLUTION {padding-left: 12px; padding-right: 24px; }
.STATUS {padding-left: 12px; padding-right: 24px; }
.WORKAROUND {padding-left: 12px; padding-right: 24px; }
.REFERENCES {padding-left: 12px; padding-right: 24px; }
.CAUSE {padding-left: 12px; padding-right: 24px; }
.WHATTOTRY {padding-left: 12px; padding-right: 24px; }
.ERRORMESSAGE {padding-left: 12px; padding-right: 24px; }

.internal .head 
{
	font-weight:bold; 
	text-align: center; 
	background-color: white; 
	color: red; 
	border-top-style: solid 
}
p.internal
{ 
	margin-left: 5%; 
	margin-right: 5%
}
.internal .tail
{
	background-color: white; 
	color: red; 
	border-bottom-style: solid 
}
.partner .head 
{
	font-weight:bold;
	text-align: center; 
	background-color: white; 
	color: #FFAA00; 
	border-top-style: solid
}
p.partner
{ 
	margin-left: 5%; 
	margin-right: 5%
}
.partner .tail
{
	background-color: white; 
	color: #FFAA00; 
	border-bottom-style: solid
}

/*** For KB-Subtypes ***/
.KBSC, .KBQA, .KBTT, .KBSI { display:inline-block; margin: 0px 8px 4px 6px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; }
.KBSI  { margin: 0px 0px 4px 0px; }
.SectionImage { width:110px; float:right; position:static; padding-left:8px; margin: 4px 10px 8px 4px; }
.dropCap { font-size: x-large; }
.qaText  { padding-top:  9px; }
.blurb   { padding: 0px 10px 10px 5px; }
.g_graphic { border-left: solid 1px #999999; padding: 0px 4px 0px 4px; }
.b_graphic { border-right: solid 1px #999999; padding: 0px 4px 0px 4px; }
.kbRightCol { float:none; }

.KBSI H1 { margin-left : 10px }
.KBSI H2 { font-variant: small-caps;  FONT-WEIGHT: bold; FONT-SIZE: 110%; 
	font-family: Verdana, Helvetica; COLOR: #CC6600; margin: 10px 2px 6px 0px; padding-top: 4px; } 

.kbQA .Summary	{padding-left: 12px; padding-right: 24px; margin-top:0px; border-top: solid 1px #999999;}
/************/
